@import './base.css';

#app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #e9f2ff, #e8eff6);
    font-family: Arial, sans-serif;
    color: #333;
}

button, .btn {
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #3498db;
    color: white;
}

.btn-secondary {
    background-color: #ecf0f1;
    color: #2c3e50;
}
